

<html >
	<head>
		<title> Workflow + + </title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body >
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="tasks icon"></i>Workflow + +</div>
            </div>
            <a href="/workflow/new" class="item">New Workflow</a>
            <a href="/" class="item">My Templates</a>
			<a href="/" class="item">Home</a>
			<a href="#" class="item">Login</a>
		</div>

        